:root {
   /* Background */
   --background: white;

   /* Color-palette */
   --primary-color: #000000;
   --secondary-color: #e3e3e3;
   --highlight-color: #adff00;

   /* Font-style */
   --font-family: "JetBrainsMono";

   --font-weight-body: 400;

   --font-size-body: 30px;
   --font-size-large: 1.65em;
   --font-size-small: 0.65em;

   /* Spacing */

   --spacing-small: 20px;
   --spacing-medium: 40px;
   --spacing-large: 100px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 877e963f61d91f838f78b2d6a5cdab5be2ea929f
